<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>✨NewTypeBlog✨</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <header class="p-5 text-center bg-light">
        <h1 class="mb-3">✨NewTypeBlog✨</h1>
        <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
    </header>

    <nav class="navbar p-1 mb-3 bg-secondary navbar-dark justify-content-center">
        <a class="navbar-brand" href="/">홈</a>
        <a class="navbar-brand" href="/articles">글 목록</a>
    </nav>

    <section class="container">
        <button type="button" id="create-btn"
                th:onclick="|location.href='@{/new-article}'|"
                class="btn btn-secondary btn-sm mb-3">글쓰기</button>
        <div class="row-6" th:each="item : ${articles}"> <!-- article 개수만큼 반복 -->
            <div class="card">
                <div class="card-header" th:text="${item.id}"> <!-- item의 id 출력 -->
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.title}"></h5>
                    <p class="card-text" th:text="${item.content}"></p>
                    <a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary btn-sm">보러가기</a>
                </div>
            </div>
            <br>
        </div>
        <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='/logout'">로그아웃</button>
    </section>

    <footer class="bg-light text-secondary text-center mt-3">
        <p>&copy; 2023 NewTypeBlog. All rights reserved.</p>
    </footer>

    <script src="/js/article.js"></script>
</body>
