<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>타임리프 익히기</h1>
    <p th:text="${#temporals.format(today, 'yyyy-MM-dd')}"></p> <!-- LocalDateTime 객체를 yyyy-MM-dd 형식으로 변환하여 출력 -->
    <div th:object="${person}"> <!-- th:object 속성을 사용하여 person 객체를 바인딩 -->
        <p th:text="|이름 : *{name}|"></p>
        <p th:text="|나이 : *{age}|"></p>
        <p>취미</p>
        <ul th:each="hobby : *{hobbies}"> <!-- th:each 속성을 사용하여 hobbies 리스트를 반복 -->
            <li th:text="${hobby}"></li>
            <span th:if="${hobby == '운동'}">(대표 취미)</span>
        </ul>
    </div>

    <a th:href="@{/api/articles/{id}(id=${person.id})}">글 보기</a> <!-- th:href 속성을 사용하여 동적으로 URL 생성 -->
</body>
</html>